<header class="container">
  <h1 class="mb-1">Gestion des pays</h1>
  <div id="pl">
    <a href="#" (click)="largeModal.show()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
  Ajouter Pays</a>
  <a href="#" (click)="fileDownload()" >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
  Export To CSV</a>
  <a href="#" (click)="updateTable()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
  Rechercher
  </a>
  </div>





</header>




<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ajouter Pays</h4>

        <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-style-2">
          <div class="form-style-2-heading">Fournissez vos informations</div>
          <form action="" method="post" [formGroup]="addForm" >
            <label for="field1"><span>Nom <span class="required">*</span></span>  <select name="country" id="country" formControlName="nom">
              <option value="0" label="Select a country … " selected="selected">Select a country … </option>
              <optgroup id="country-optgroup-Africa" label="Africa">
                <option value="Algeria" label="Algeria">Algeria</option>
                <option value="Angola" label="Angola">Angola</option>
                <option value="Benin" label="Benin">Benin</option>
                <option value="Botswana" label="Botswana">Botswana</option>
                <option value="Burkina Faso" label="Burkina Faso">Burkina Faso</option>
                <option value="Burundi" label="Burundi">Burundi</option>
                <option value="Cameroon" label="Cameroon">Cameroon</option>
                <option value="Cape Verde" label="Cape Verde">Cape Verde</option>
                <option value="Central African Republic" label="Central African Republic">Central African Republic
                </option>
                <option value="Chad" label="Chad">Chad</option>
                <option value="Comoros" label="Comoros">Comoros</option>
                <option value="Congo" label="Congo - Brazzaville">Congo - Brazzaville</option>
                <option value="Congo" label="Congo - Kinshasa">Congo - Kinshasa</option>
                <option value="Côte d’Ivoire" label="Côte d’Ivoire">Côte d’Ivoire</option>
                <option value="Djibouti" label="Djibouti">Djibouti</option>
                <option value="Egypt" label="Egypt">Egypt</option>
                <option value="Equatorial Guinea" label="Equatorial Guinea">Equatorial Guinea</option>
                <option value="Eritrea" label="Eritrea">Eritrea</option>
                <option value="Ethiopia" label="Ethiopia">Ethiopia</option>
                <option value="Gabon" label="Gabon">Gabon</option>
                <option value="Gambia" label="Gambia">Gambia</option>
                <option value="Ghana" label="Ghana">Ghana</option>
                <option value="Guinea" label="Guinea">Guinea</option>
                <option value="Guinea-Bissau" label="Guinea-Bissau">Guinea-Bissau</option>
                <option value="Kenya" label="Kenya">Kenya</option>
                <option value="Lesotho" label="Lesotho">Lesotho</option>
                <option value="Liberia" label="Liberia">Liberia</option>
                <option value="Libya" label="Libya">Libya</option>
                <option value="Madagascar" label="Madagascar">Madagascar</option>
                <option value="Malawi" label="Malawi">Malawi</option>
                <option value="Mali" label="Mali">Mali</option>
                <option value="Mauritania" label="Mauritania">Mauritania</option>
                <option value="Mauritius" label="Mauritius">Mauritius</option>
                <option value="Mayotte" label="Mayotte">Mayotte</option>
                <option value="Morocco" label="Morocco">Morocco</option>
                <option value="Mozambique" label="Mozambique">Mozambique</option>
                <option value="Namibia" label="Namibia">Namibia</option>
                <option value="Niger" label="Niger">Niger</option>
                <option value="Nigeria" label="Nigeria">Nigeria</option>
                <option value="Rwanda" label="Rwanda">Rwanda</option>
                <option value="Réunion" label="Réunion">Réunion</option>
                <option value="Saint Helena" label="Saint Helena">Saint Helena</option>
                <option value="Senegal" label="Senegal">Senegal</option>
                <option value="Seychelles" label="Seychelles">Seychelles</option>
                <option value="Sierra Leone" label="Sierra Leone">Sierra Leone</option>
                <option value="Somalia" label="Somalia">Somalia</option>
                <option value="South Africa" label="South Africa">South Africa</option>
                <option value="Sudan" label="Sudan">Sudan</option>
                <option value="Swaziland" label="Swaziland">Swaziland</option>
                <option value="São Tomé and Príncipe" label="São Tomé and Príncipe">São Tomé and Príncipe</option>
                <option value="Tanzania" label="Tanzania">Tanzania</option>
                <option value="Togo" label="Togo">Togo</option>
                <option value="Tunisia" label="Tunisia">Tunisia</option>
                <option value="Uganda" label="Uganda">Uganda</option>
                <option value="Western Sahara" label="Western Sahara">Western Sahara</option>
                <option value="Zambia" label="Zambia">Zambia</option>
                <option value="Zimbabwe" label="Zimbabwe">Zimbabwe</option>
              </optgroup>
              <optgroup id="country-optgroup-Americas" label="Americas">
                <option value="Anguilla" label="Anguilla">Anguilla</option>
                <option value="Antigua and Barbuda" label="Antigua and Barbuda">Antigua and Barbuda</option>
                <option value="Argentina" label="Argentina">Argentina</option>
                <option value="Aruba" label="Aruba">Aruba</option>
                <option value="Bahamas" label="Bahamas">Bahamas</option>
                <option value="Barbados" label="Barbados">Barbados</option>
                <option value="Belize" label="Belize">Belize</option>
                <option value="Bermuda" label="Bermuda">Bermuda</option>
                <option value="Bolivia" label="Bolivia">Bolivia</option>
                <option value="Brazil" label="Brazil">Brazil</option>
                <option value="British Virgin Islands" label="British Virgin Islands">British Virgin Islands
                </option>
                <option value="Canada" label="Canada">Canada</option>
                <option value="Cayman Islands" label="Cayman Islands">Cayman Islands</option>
                <option value="Chile" label="Chile">Chile</option>
                <option value="Colombia" label="Colombia">Colombia</option>
                <option value="Costa Rica" label="Costa Rica">Costa Rica</option>
                <option value="Cuba" label="Cuba">Cuba</option>
                <option value="Dominica" label="Dominica">Dominica</option>
                <option value="Dominican Republic" label="Dominican Republic">Dominican Republic</option>
                <option value="Ecuador" label="Ecuador">Ecuador</option>
                <option value="El Salvador" label="El Salvador">El Salvador</option>
                <option value="Falkland Islands" label="Falkland Islands">Falkland Islands</option>
                <option value="French Guiana" label="French Guiana">French Guiana</option>
                <option value="Greenland" label="Greenland">Greenland</option>
                <option value="Grenada" label="Grenada">Grenada</option>
                <option value="Guadeloupe" label="Guadeloupe">Guadeloupe</option>
                <option value="Guatemala" label="Guatemala">Guatemala</option>
                <option value="Guyana" label="Guyana">Guyana</option>
                <option value="Haiti" label="Haiti">Haiti</option>
                <option value="Honduras" label="Honduras">Honduras</option>
                <option value="Jamaica" label="Jamaica">Jamaica</option>
                <option value="Martinique" label="Martinique">Martinique</option>
                <option value="Mexico" label="Mexico">Mexico</option>
                <option value="Montserrat" label="Montserrat">Montserrat</option>
                <option value="Netherlands Antilles" label="Netherlands Antilles">Netherlands Antilles</option>
                <option value="Nicaragua" label="Nicaragua">Nicaragua</option>
                <option value="Panama" label="Panama">Panama</option>
                <option value="Paraguay" label="Paraguay">Paraguay</option>
                <option value="Peru" label="Peru">Peru</option>
                <option value="Puerto Rico" label="Puerto Rico">Puerto Rico</option>
                <option value="Saint Barthélemy" label="Saint Barthélemy">Saint Barthélemy</option>
                <option value="Saint" label="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                <option value="Saint Lucia" label="Saint Lucia">Saint Lucia</option>
                <option value="MF" label="Saint Martin">Saint Martin</option>
                <option value="Saint Martin" label="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                <option value="Saint Pierre and Miquelon" label="Saint Vincent and the Grenadines">Saint Vincent and
                  the Grenadines</option>
                <option value="Suriname" label="Suriname">Suriname</option>
                <option value="Trinidad and Tobago" label="Trinidad and Tobago">Trinidad and Tobago</option>
                <option value="Turks and Caicos Islands" label="Turks and Caicos Islands">Turks and Caicos Islands
                </option>
                <option value="U.S. Virgin Islands" label="U.S. Virgin Islands">U.S. Virgin Islands</option>
                <option value="United States" label="United States">United States</option>
                <option value="Uruguay" label="Uruguay">Uruguay</option>
                <option value="Venezuela" label="Venezuela">Venezuela</option>
              </optgroup>
              <optgroup id="country-optgroup-Asia" label="Asia">
                <option value="Afghanistan" label="Afghanistan">Afghanistan</option>
                <option value="Armenia" label="Armenia">Armenia</option>
                <option value="Azerbaijan" label="Azerbaijan">Azerbaijan</option>
                <option value="Bahrain" label="Bahrain">Bahrain</option>
                <option value="Bangladesh" label="Bangladesh">Bangladesh</option>
                <option value="Bhutan" label="Bhutan">Bhutan</option>
                <option value="Brunei" label="Brunei">Brunei</option>
                <option value="Cambodia" label="Cambodia">Cambodia</option>
                <option value="China" label="China">China</option>
                <option value="Cyprus" label="Cyprus">Cyprus</option>
                <option value="Georgia" label="Georgia">Georgia</option>
                <option value="Hong Kong SAR China" label="Hong Kong SAR China">Hong Kong SAR China</option>
                <option value="India" label="India">India</option>
                <option value="Indonesia" label="Indonesia">Indonesia</option>
                <option value="Iran" label="Iran">Iran</option>
                <option value="Iraq" label="Iraq">Iraq</option>
                <option value="Israel" label="Israel">Israel</option>
                <option value="Japan" label="Japan">Japan</option>
                <option value="Jordan" label="Jordan">Jordan</option>
                <option value="Kazakhstan" label="Kazakhstan">Kazakhstan</option>
                <option value="Kuwait" label="Kuwait">Kuwait</option>
                <option value="Kyrgyzstan" label="Kyrgyzstan">Kyrgyzstan</option>
                <option value="Laos" label="Laos">Laos</option>
                <option value="Lebanon" label="Lebanon">Lebanon</option>
                <option value="Macau SAR China" label="Macau SAR China">Macau SAR China</option>
                <option value="Malaysia" label="Malaysia">Malaysia</option>
                <option value="Maldives" label="Maldives">Maldives</option>
                <option value="Mongolia" label="Mongolia">Mongolia</option>
                <option value="Myanmar [Burma]" label="Myanmar [Burma]">Myanmar [Burma]</option>
                <option value="Nepal" label="Nepal">Nepal</option>
                <option value="Neutral Zone" label="Neutral Zone">Neutral Zone</option>
                <option value="North Korea" label="North Korea">North Korea</option>
                <option value="Oman" label="Oman">Oman</option>
                <option value="Pakistan" label="Pakistan">Pakistan</option>
                <option value="Palestinian Territories" label="Palestinian Territories">Palestinian Territories
                </option>
                <option value="People's Democratic Republic of Yemen" label="People's Democratic Republic of Yemen">
                  People's Democratic Republic of Yemen</option>
                <option value="Philippines" label="Philippines">Philippines</option>
                <option value="Qatar" label="Qatar">Qatar</option>
                <option value="Saudi Arabia" label="Saudi Arabia">Saudi Arabia</option>
                <option value="Singapore" label="Singapore">Singapore</option>
                <option value="South Korea" label="South Korea">South Korea</option>
                <option value="Sri Lanka" label="Sri Lanka">Sri Lanka</option>
                <option value="Syria" label="Syria">Syria</option>
                <option value="Taiwan" label="Taiwan">Taiwan</option>
                <option value="Tajikistan" label="Tajikistan">Tajikistan</option>
                <option value="Thailand" label="Thailand">Thailand</option>
                <option value="Timor-Leste" label="Timor-Leste">Timor-Leste</option>
                <option value="Turkey" label="Turkey">Turkey</option>
                <option value="Turkmenistan" label="Turkmenistan">Turkmenistan</option>
                <option value="United Arab Emirates" label="United Arab Emirates">United Arab Emirates</option>
                <option value="Uzbekistan" label="Uzbekistan">Uzbekistan</option>
                <option value="Vietnam" label="Vietnam">Vietnam</option>
                <option value="Yemen" label="Yemen">Yemen</option>
              </optgroup>
              <optgroup id="country-optgroup-Europe" label="Europe">
                <option value="Albania" label="Albania">Albania</option>
                <option value="Andorra" label="Andorra">Andorra</option>
                <option value="Austria" label="Austria">Austria</option>
                <option value="Belarus" label="Belarus">Belarus</option>
                <option value="Belgium" label="Belgium">Belgium</option>
                <option value="Bosnia and Herzegovina" label="Bosnia and Herzegovina">Bosnia and Herzegovina
                </option>
                <option value="Bulgaria" label="Bulgaria">Bulgaria</option>
                <option value="Croatia" label="Croatia">Croatia</option>
                <option value="Cyprus" label="Cyprus">Cyprus</option>
                <option value="Czech Republic" label="Czech Republic">Czech Republic</option>
                <option value="Denmark" label="Denmark">Denmark</option>
                <option value="East Germany" label="East Germany">East Germany</option>
                <option value="Estonia" label="Estonia">Estonia</option>
                <option value="Faroe Islands" label="Faroe Islands">Faroe Islands</option>
                <option value="Finland" label="Finland">Finland</option>
                <option value="France" label="France">France</option>
                <option value="Germany" label="Germany">Germany</option>
                <option value="Gibraltar" label="Gibraltar">Gibraltar</option>
                <option value="Greece" label="Greece">Greece</option>
                <option value="Guernsey" label="Guernsey">Guernsey</option>
                <option value="Hungary" label="Hungary">Hungary</option>
                <option value="Iceland" label="Iceland">Iceland</option>
                <option value="Ireland" label="Ireland">Ireland</option>
                <option value="Isle of Man" label="Isle of Man">Isle of Man</option>
                <option value="Italy" label="Italy">Italy</option>
                <option value="Jersey" label="Jersey">Jersey</option>
                <option value="Latvia" label="Latvia">Latvia</option>
                <option value="Liechtenstein" label="Liechtenstein">Liechtenstein</option>
                <option value="Lithuania" label="Lithuania">Lithuania</option>
                <option value="Luxembourg" label="Luxembourg">Luxembourg</option>
                <option value="Macedonia" label="Macedonia">Macedonia</option>
                <option value="Malta" label="Malta">Malta</option>
                <option value="Metropolitan France" label="Metropolitan France">Metropolitan France</option>
                <option value="Moldova" label="Moldova">Moldova</option>
                <option value="Monaco" label="Monaco">Monaco</option>
                <option value="Montenegro" label="Montenegro">Montenegro</option>
                <option value="Netherlands" label="Netherlands">Netherlands</option>
                <option value="Norway" label="Norway">Norway</option>
                <option value="Poland" label="Poland">Poland</option>
                <option value="Portugal" label="Portugal">Portugal</option>
                <option value="Romania" label="Romania">Romania</option>
                <option value="Russia" label="Russia">Russia</option>
                <option value="San Marino" label="San Marino">San Marino</option>
                <option value="Serbia" label="Serbia">Serbia</option>
                <option value="Serbia and Montenegro" label="Serbia and Montenegro">Serbia and Montenegro</option>
                <option value="Slovakia" label="Slovakia">Slovakia</option>
                <option value="Slovenia" label="Slovenia">Slovenia</option>
                <option value="Spain" label="Spain">Spain</option>
                <option value="Svalbard and Jan Mayen" label="Svalbard and Jan Mayen">Svalbard and Jan Mayen
                </option>
                <option value="Sweden" label="Sweden">Sweden</option>
                <option value="Switzerland" label="Switzerland">Switzerland</option>
                <option value="Ukraine" label="Ukraine">Ukraine</option>
                <option value="Union of Soviet Socialist Republics" label="Union of Soviet Socialist Republics">
                  Union of Soviet Socialist Republics</option>
                <option value="United Kingdom" label="United Kingdom">United Kingdom</option>
                <option value="Vatican City" label="Vatican City">Vatican City</option>
                <option value="Åland Islands" label="Åland Islands">Åland Islands</option>
              </optgroup>
              <optgroup id="country-optgroup-Oceania" label="Oceania">
                <option value="American Samoa" label="American Samoa">American Samoa</option>
                <option value="Antarctica" label="Antarctica">Antarctica</option>
                <option value="Australia" label="Australia">Australia</option>
                <option value="Bouvet Island" label="Bouvet Island">Bouvet Island</option>
                <option value="British Indian Ocean Territory" label="British Indian Ocean Territory">British Indian
                  Ocean Territory</option>
                <option value="Christmas Island" label="Christmas Island">Christmas Island</option>
                <option value="Cocos" label="Cocos [Keeling] Islands">Cocos [Keeling] Islands</option>
                <option value="Cook Islands" label="Cook Islands">Cook Islands</option>
                <option value="Fiji" label="Fiji">Fiji</option>
                <option value="French Polynesia" label="French Polynesia">French Polynesia</option>
                <option value="French Southern Territories" label="French Southern Territories">French Southern
                  Territories</option>
                <option value="Guam" label="Guam">Guam</option>
                <option value="Heard Island and McDonald Islands" label="Heard Island and McDonald Islands">Heard
                  Island and McDonald Islands</option>
                <option value="Kiribati" label="Kiribati">Kiribati</option>
                <option value="Marshall Islands" label="Marshall Islands">Marshall Islands</option>
                <option value="Micronesia" label="Micronesia">Micronesia</option>
                <option value="Nauru" label="Nauru">Nauru</option>
                <option value="New Caledonia" label="New Caledonia">New Caledonia</option>
                <option value="New Zealand">New Zealand</option>
                <option value="Niue">Niue</option>
                <option value="Norfolk Island">Norfolk Island</option>
                <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                <option value="Palau">Palau</option>
                <option value="Papua New Guinea">Papua New Guinea</option>
                <option value="Pitcairn Islands">Pitcairn Islands</option>
                <option value="Samoa">Samoa</option>
                <option value="Solomon Islands">Solomon Islands</option>
                <option value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich
                  Islands</option>
                <option value="Tokelau">Tokelau</option>
                <option value="Tonga">Tonga</option>
                <option value="Tuvalu">Tuvalu</option>
                <option value="U.S. Minor Outlying Islands">U.S. Minor Outlying Islands</option>
                <option value="Vanuatu">Vanuatu</option>
                <option value="Wallis and Futuna">Wallis and Futuna</option>
              </optgroup>
            </select>
            <div *ngIf="nom.touched ">
              <small *ngIf="nom.errors?.required" class="text-danger" style="font-weight: bold">nom  obligatoire<br></small>
            </div></label>

                <label for="field1"><span>Population <span class="required">*</span></span><input type="number" class="input-field"
                  name="field1" value="" formControlName="population" min="0" /></label>
                  <div *ngIf="population.touched ">
                    <small *ngIf="population.errors?.required" class="text-danger" style="font-weight: bold">population obligatoire<br></small>
                  </div>

                  <label for="field1"><span>Superficie(km2) <span class="required">*</span></span><input type="number" class="input-field"
                    name="field1" value="" formControlName="superficie" min="0"/></label>
                    <div *ngIf="superficie.touched ">
                      <small *ngIf="superficie?.errors?.required" class="text-danger" style="font-weight: bold">Saisir obligatoire<br></small>
                    </div>

                    <label for="field1"><span>Continent <span class="required">*</span></span><select id="continent" name="continent" formControlName="contient">
                      <option>select continent</option>
                      <option value="Afrique">Afrique</option>
                      <option value="Europe">Europe</option>
                      <option value="Asie">Asie</option>
                      <option value="Amérique">Amérique</option>
                      <option value="Océanie">Océanie</option>
                      <option value="Antarctique">Antarctique </option>
                    </select></label>
                    <div *ngIf="contient.touched ">
                      <small *ngIf="contient.errors?.required" class="text-danger" style="font-weight: bold">continent obligatoire<br></small>
                    </div>
                      <label for="field1"><span>Produit <span class="required">*</span></span><input type="text" class="input-field"
                        name="field1" value="" formControlName="produit" min="0" /></label>
                        <div *ngIf="produit.touched ">
                          <small *ngIf="produit?.errors?.required" class="text-danger" style="font-weight: bold">produit obligatoire<br></small>
                        </div>
                      <label for="field1"><span>Image <span class="required">*</span></span><input type="file" class="input-field" (change)="onFileSelected($event)"
                        name="field1" value="" formControlName="image" /></label>



            <div class="modal-footer">
            </div>
          </form>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Fermer</button>
        <button type="button" class="btn btn-primary" [disabled]="addForm.invalid"
          (click)="savePays()">Enregistrer</button>
        <button type="button" class="btn btn-danger" (click)="reset()">Reset</button>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--******************************************************************************************************************-->


<!--******************************************************************************************************************-->



